In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel(r"C:\Users\user\Documents\raw data.xlsx")

In [4]:
print(df.head())
print(df.shape)
print(df.info())

                                             subject  \
0                    Wesentlicher Sicherheitsvorfall
1                                 Account Disruption
2  Query About Smart Home System Integration Feat...
3                  Inquiry Regarding Invoice Details
4  Question About Marketing Agency Software Compa...

                                                body  \
0  Sehr geehrtes Support-Team,\n\nich mÃ¶chte ein...
1  Dear Customer Support Team,\n\nI am writing to...
2  Dear Customer Support Team,\n\nI hope this mes...
3  Dear Customer Support Team,\n\nI hope this mes...
4  Dear Support Team,\n\nI hope this message reac...

                                              answer      type  \
0  Vielen Dank fÃ¼r die Meldung des kritischen Si...  Incident
1  Thank you for reaching out, <name>. We are awa...  Incident
2  Thank you for your inquiry. Our products suppo...   Request
3  We appreciate you reaching out with your billi...   Request
4  Thank you for your inquiry. Our product suppor...   Problem

                   queue priority language  version     tag_1       tag_2  \
0      Technical Support     high       de       51  Security      Outage
1      Technical Support     high       en       51   Account  Disruption
2  Returns and Exchanges   medium       en       51   Product     Feature
3   Billing and Payments      low       en       51   Billing     Payment
4    Sales and Pre-Sales   medium       en       51   Product     Feature

          tag_3          tag_4         tag_5 tag_6 tag_7 tag_8
0    Disruption    Data Breach           NaN   NaN   NaN   NaN
1        Outage             IT  Tech Support   NaN   NaN   NaN
2  Tech Support            NaN           NaN   NaN   NaN   NaN
3       Account  Documentation      Feedback   NaN   NaN   NaN
4      Feedback   Tech Support           NaN   NaN   NaN   NaN
(547, 16)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 547 entries, 0 to 546
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   subject   547 non-null    object
 1   body      547 non-null    object
 2   answer    547 non-null    object
 3   type      547 non-null    object
 4   queue     547 non-null    object
 5   priority  547 non-null    object
 6   language  547 non-null    object
 7   version   547 non-null    int64
 8   tag_1     547 non-null    object
 9   tag_2     547 non-null    object
 10  tag_3     538 non-null    object
 11  tag_4     517 non-null    object
 12  tag_5     216 non-null    object
 13  tag_6     108 non-null    object
 14  tag_7     42 non-null     object
 15  tag_8     14 non-null     object
dtypes: int64(1), object(15)
memory usage: 68.5+ KB
None

In [5]:
df = df.drop_duplicates()

In [6]:
df = df.drop("body", axis=1, errors="ignore")
df = df.drop("tag_5", axis=1, errors="ignore")
df = df.drop("tag_6", axis=1, errors="ignore")
df = df.drop("tag_7", axis=1, errors="ignore")
df = df.drop("tag_8", axis=1, errors="ignore")
df = df.drop("answer", axis=1, errors="ignore")

In [7]:
print(df.isnull().sum())

subject      0
type         0
queue        0
priority     0
language     0
version      0
tag_1        0
tag_2        0
tag_3        9
tag_4       30
dtype: int64

In [8]:
df = df.dropna()

In [9]:
df.columns

Index(['subject', 'type', 'queue', 'priority', 'language', 'version', 'tag_1',
       'tag_2', 'tag_3', 'tag_4'],
      dtype='object')

In [10]:
df.tail()

,subject,type,queue,priority,language,version,tag_1,tag_2,tag_3,tag_4
542,Request for Architectural Specifications of th...,Request,Customer Service,low,de,51,Product,Feature,IT,Tech Support
543,Discrepancies in Billing Across Multiple Items,Incident,Billing and Payments,medium,de,51,Billing,Account,Software,Discrepancy
544,Dienstunterbrechung,Problem,Customer Service,high,de,51,Outage,Disruption,Performance,Network
545,Anfrage zur UnterstÃ¼tzung und KlÃ¤rung des Su...,Incident,General Inquiry,medium,de,51,Support,Tech Support,Issue,Assistance
546,Request for Clarification on Billing and Payme...,Request,Billing and Payments,medium,en,51,Billing,Payment,Account,Clarification

In [11]:
df.sample(5)

,subject,type,queue,priority,language,version,tag_1,tag_2,tag_3,tag_4
197,Immediate Attention: System Failures and Conne...,Incident,Technical Support,high,en,51,Bug,Hardware,Network,Disruption
383,Problems with RAID Controller Device Connectivity,Incident,Product Support,medium,en,51,Hardware,RAID,Connectivity,Disruption
330,Network Connectivity Difficulties Impacting Me...,Incident,IT Support,medium,en,51,Network,Security,Hardware,Disruption
311,Issue Affecting Cloud Software Service,Incident,Sales and Pre-Sales,medium,en,51,Outage,Disruption,Cloud Software,Service
495,Guidelines for Returns and Replacements,Request,Returns and Exchanges,medium,en,51,Return,Replacement,Product,Policy

In [12]:
df.head()
df.shape
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 517 entries, 0 to 546
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   subject   517 non-null    object
 1   type      517 non-null    object
 2   queue     517 non-null    object
 3   priority  517 non-null    object
 4   language  517 non-null    object
 5   version   517 non-null    int64
 6   tag_1     517 non-null    object
 7   tag_2     517 non-null    object
 8   tag_3     517 non-null    object
 9   tag_4     517 non-null    object
dtypes: int64(1), object(9)
memory usage: 44.4+ KB

subject     0
type        0
queue       0
priority    0
language    0
version     0
tag_1       0
tag_2       0
tag_3       0
tag_4       0
dtype: int64